td {
    padding: 10px;
}
#navbar {
    background-color: #5eda9d;
}

/* css nav bar */
ul {
    list-style-type: none;
    /*margin: 0;*/
    /*padding: 0;*/
    overflow: hidden;
    /*background-color: blue;*/
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#search {
    margin-top: 20px;
}
* {
    margin: 0;
    padding: 0;
}

/* css list game */
#list-game {
    padding: 0 120px;
}
/* css info table to add game */
#infoTable {
    top: 35%;
    left: 90%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: red;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    border: 2px solid black;
    text-align: center;
}
/* css cart */
#cart-frame {
    position: absolute;
    top: 10%;
    left: 80%;
    /*transform: translate(-50%, -50%);*/
    width: 300px;
    height: 600px;
    background-color: white;
    border: 1px solid black;
    overflow: auto;
}
/* css footer */
footer {
    background-color: chartreuse;
    color: blue;
}
/* css filter area */
#filterArea {
margin-left: 500px;
}
