td {
    padding: 10px;
}


/* css nav bar */
ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 16px;
    text-decoration: none;
}

#search {
    margin-top: 20px;
}
* {
    margin: 0;
    padding: 0;
}

/* css list game */
#list-game {
    padding: 0 120px;
}
/* css info table to add game */
#infoTable {
    top: 10%;
    left: 80%;
    padding: 20px;
    color: red;
    position: fixed;
    background-color: white;
    z-index: 999;
    border: 2px solid black;
    text-align: center;
}
/* css cart */
#cart-frame {
    position: absolute;
    top: 10%;
    left: 80%;
    width: 300px;
    height: 600px;
    background-color: white;
    border: 1px solid black;
    overflow: auto;
}
/* css footer */
footer {
    background-color: chartreuse;
    color: blue;
}
/* css filter area */
#filterArea {
margin-left: 450px;
}
/* css chat area */
#chatArea {
    position: absolute;
    width: 307px;
    height: 400px;
    bottom: -350px;
    left: 1005px;
    background-color: white;
    border-radius: 20px;
}
#adminInbox {
    position: absolute;
    margin-left: 660px;
    top: 10%;
    background-color: white;
    border-radius: 10px;
    display: none;
}

